.form-store-profile {
    font-size: 1.5em;
    transition: .3s font-size ease-in-out;
}
.form-section-store-profile {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    row-gap: 1em;
}

/* -- STORE INFO SECTION -------------------------- */

.form-section-store-info {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.store-info {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
    background-color: #fff;

    width: 60%;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.img-store-container {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}
.img-store-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -- DIR SECTION -------------------------- */

.input-group-dir {
    align-items: end;
    /* column-gap: 1em; */
    /* row-gap: 1em; */
}

/* -- COMMISSIONS SECTION -------------------------- */

/* -- PAYMENT METHOD SECTION -------------------------- */

.payments-checkbox-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    font-size: 1.2em;

}

.payment-checkbox {
    width: fit-content;
}


/* -- MEDIA QUERIES -- */

/** Tablet: 401px - 768 px. */
@media screen and (min-width: 401px) and (max-width: 768px) {
    .form-store-profile {
        font-size: 1.25em;
    }
    /* 
    .title-product-edit {
        font-size: 2em;
    }
    .product-edit-subtitle {
        font-size: 1.5em;
    } */
}

/** Mobile: max: 400px */
@media screen and (max-width: 400px) {
    /* .form-store-profile {
        font-size: 1em;
    } */

    .form-section-store-info {
        flex-direction: column;
    }

    .store-info {
        width: 100%;
    }

    .img-store-container {
        width: 100%;
    }

    .input-group-dir {
        grid-template-columns: repeat(1,1fr);
    }

    .payments-checkbox-group {
        flex-direction: column;
    }
}