/* ============================= Variables ============================= */

:root { /* Ámbito global (todo el documento) */
    --color-primario: hsl(1, 77%, 55%); /* nose saturacion brillo */
    --color-secundario: rgb(165, 41, 41);
    --border-radius-full: 50px;
    --font-title: 2rem;
    --font-header: 1.2rem;
    --font-default: 1rem;
    --color-boton-hover: hsl(1, 77%, 45%);
    --color-boton-active: hsl(1, 77%, 35%);
    font-size: 10px;
}

/* ============================= Main ============================= */
/* 16px es igual a 1rem default me parece */

* { /* esto esta bueno para resetear todo */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* hace que toda la medida sea el box model*/
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5f5f5;
}

/* ============================= Nav-bar ============================= */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.8em; /* esto esta bueno para poner en el centro como queres si no te sirve space-evenly */
    flex-direction: row;
    border: 1px solid #ccc;
    padding: 0.5rem;
    background-color: white;
}
.icon-y-text {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.main-nav .contenedor-pot {
    background-color: var(--color-primario);
    border-radius: var(--border-radius-full);
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-pot > img {
    width: 1.6rem;
}
.main-nav h2 {
    font-size: var(--font-header);
}
.opciones-y-icono{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.opciones-y-icono > img {
    width: 2.6rem;
}

/* ============================= Main body (casi) ============================= */

.titulo-tabs-grid {
    padding-left: 80px;
    padding-right: 80px;
}
.titulo {
    font-size: var(--font-title);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.titulo-tabs {
    padding: 10px;
}

/* ============================= Tab ============================= */

.tabs {
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
    border-bottom: 1px solid #e5e7eb;
}
.tab {
    position: relative;
    cursor: pointer;
    color: #6b7280;
    font-weight: 500;
    padding-bottom: 15px;
}
.tab.active {
    font-weight: bold;
    color: black;
}
.tab::after { /* pseudo-elemento que se dibuja despues de cada .tab*/
    content: ""; /* esto hace que se dibuje algo */
    position: absolute;
    bottom: 0; /* estas dos hacen que spawnee en la parte de abajo a la izquierda*/
    left: 0;
    width: 100%;
    height: 5px;
    /* background-color: transparent; invisible por defecto */
    background-color: #e5e7eb;
}

/* ============================= Grid ============================= */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
}

/* ============================= Elemento de grid ============================= */

.grid-element {
    background-color: #cecece;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #6b7280;
}

/* ========== Tag pedido ========== */

.pedido{ 
    padding: 5px;
}

/* ========== Usuario ========== */

.user > img { /* el primer hijo */
    width: 46px;
}
.user {
    display: flex;
    flex-direction: row;
}
.user-info {
    padding: 5px;
}

/* ========== Detalles ========== */

.detalles {
    padding: 5px;
}

/* ========== Ubicacion ========== */

.direccion i {
    font-size: 20px;
}
.direccion {
    display: flex;
    flex-direction: row;
}

/* ========== Boton ========== */

.boton-grid {
    display: flex;
    justify-self: end;
}
.boton-grid button {
    background-color: var(--color-primario);
    border: none;
    padding: 5px;
    border-radius: 5px;
}