@import url(style.css);

body{
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0;
    background-color: var(--background-color);
}

.login-container{
    width: 100%;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-width: 55vw;
    min-width: 18.36rem;
    /* max-width: 47rem; */
    border-radius: 1rem;
    padding: 1.5rem;
    margin: auto;
}

.header-section{
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.main-title{
    margin: 1rem;
    color: var(--font-color);
}

.icon-container{
    /* el elemento padre les dice en que posicion tienen que ubicarse los hijos */
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.ph-cooking-pot{
    font-size: 2rem; /* son 28px porque en mi html defini mi font-size: 14px; */
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem;
}

.form-section, .btn-group{
    width: 100%;
    margin: 0 auto; 
}

.btn-group{
    margin-top: 2em;
}

.label{
    color: var(--font-color-secondary);
}

.form-section {
    flex-direction: column;
    display: flex;
    gap: 1em;
    max-width: 450px; 
}

.password-input{
    position: relative;
}

.ph-eye-slash{
    position: absolute;
    justify-self: end;
    align-items: center;
    padding: 0.5em;
    font-size: 1.2rem;
}

.btn{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
}

.btn-primary{
    border: none;
    color: white;
    background-color: var(--primary-color);
    /* padding: 0.5em;
    border-radius: 0.3em; */
}

/* clase para el boton secundario */
/* .btn-secondary{
    border-color: var(--primary-color);
    border: 1px solid;
    color: var(--primary-color);
    background-color: white;
    padding: 0.5em;
    border-radius: 0.3em;
} */

.btn-login{
    padding: 1em;
    justify-self: center; 
    width: 100%;
    border-radius: 2em;
    max-width: 35rem;
}

/* para que cuando pase el mouse por arriba, cambie le color del fondo */
.btn-primary:hover {
  background-color: #cd1d26;
  transition: background-color 0.3s ease;
}

.register-section{
    display: flex;
    justify-content: center;
    background-color: white;
    border: none;
    color: var(--font-color-secondary);
    margin-bottom: 3em;
}

.register-link{
    color: var(--font-color-secondary);
    padding-left: 0.5em;
    align-self: center;
}

.input{
    border-radius: 3px;
    border: 1px gray solid;
    width: 100%; /* se adapta al contenedor */
    box-sizing: border-box;
}

.form-input{
    padding: 8px 28px 8px 8px; 
}

@media screen and (max-width: 400px) {
    .login-container{
        box-shadow: none;
        max-width: 47rem;
    }
}