/* Font */
@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

/* Icons */
@import url(https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css);
@import url(https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css);

:root {
  --primary-color: #E82933;
  /* --secondary-color: #FA954D; */
  --font-family: "Roboto", sans-serif;
  --font-color: #171212;
  --font-color-secondary: rgb(96, 96, 96);
}

html, body{
  font-family: var(--font-family);
  font-size: 14px;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
