@import url(/css/general.css);

.section-login{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.2em;
    height: 100vh; /* ocupa toda la pantalla */
    margin: 0;
}

.login-container{
    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 68rem;
    min-width: 18.36rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
}

.header-section{
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem 0;
}

.main-title{
    margin: 1rem;
    color: var(--font-color-primary);
}

.icon-container{
    /* el elemento padre les dice en que posicion tienen que ubicarse los hijos */
    position: relative;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.ph-cooking-pot{
    font-size: 2rem; /* son 28px porque en mi html defini mi font-size: 14px; */
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem;
}

.form-section, .btn-group{
    width: 100%;
    margin: 0 auto; 
}

.btn-group{
    margin-top: 2em;
}

.label{
    color: var(--font-color-secondary);
}
.form-section {
    font-size: 1em;
    flex-direction: column;
    display: flex;
    gap: 1em;
    max-width: 38rem;
}

.password-input{
    position: relative;
}

.ph-eye-slash{
    color: var(--icon-color);
    font-size: 1.3em;
    position: absolute;
    justify-self: end;
    align-items: center;
    padding: 0.5em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
}

.btn-primary{
    border: none;
    color: white;
    background-color: var(--primary-color);
    /* padding: 0.5em;
    border-radius: 0.3em; */
}

/* clase para el boton secundario */
/* .btn-secondary{
    border-color: var(--primary-color);
    border: 1px solid;
    color: var(--primary-color);
    background-color: white;
    padding: 0.5em;
    border-radius: 0.3em;
} */

.btn-login{
    font-size: 1em;
    padding: 1em;
    justify-self: center; 
    width: 100%;
    border-radius: 2em;
    max-width: 43rem;
}

/* para que cuando pase el mouse por arriba, cambie le color del fondo */
.btn-primary:hover {
  background-color: var(--button-hover-color);
  transition: background-color 0.3s ease;
}

.register-section{
    display: flex;
    justify-content: center;
    border: none;
    color: var(--font-color-secondary);
    margin: 1em 1em 3em 1em;
}

.register-link{
    color: var(--font-color-secondary);
    padding-left: 0.5em;
    align-self: center;
}

.input-primary{
    padding: 8px;
    border-radius: 3px;
    border: 1px gray solid;
    width: 100%; /* se adapta al contenedor */
    box-sizing: border-box;
    /* A chequear si se quiere en todos los inputs  */
    &:focus {
        outline: none;
        border: 2px solid var(--font-color-secondary);
    }
}

.form-input{
    padding: 8px 28px 8px 8px; 
    font-size: 1em;
}

@media screen and (max-width: 400px) {
    .section-login{
        font-size: 0.8em;
    }
    .login-container{
        min-width: 230px;
        background-color: white;
        box-shadow: none;
        padding: 1em;
    }
    .main-title{
        font-size: 2em;
    }
    .form-section{
        max-width: 250px;
    }
    .btn-login{
        max-width: 300px;
    }
    .ph-eye-slash{
        font-size: 1.5em;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    .section-login{
        font-size: 1em;
    }
    .main-title{
        font-size: 1.8em; /* 24.3px */
    }
    .login-container{
        width: 70%;
        /* width: 60rem; */
        min-width: 400px;
    }
    .form-input, .btn-login{
        font-size: 0.9em;
    }
    .btn-login{
        width: 350px;
    }
    .form-section{
        width: 325px;
    }
    .ph-eye-slash{
        font-size: 1.5em;
    }
}