/* ==== MAIN CONTAINER ====*/
.login-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.4em;
    height: 100vh; /* ocupa toda la pantalla */
    margin: 0;
}

/* ==== LOGIN SECTION ==== */
.login-section{
    background-color: white;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 60rem;
    min-width: 18.36rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
}

/* ==== HEADER ==== */
.header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 1rem 0;
}

.main-title{
    font-size: 2.2rem;
    margin: 1rem;
    color: var(--font-color-primary);
}

.icon-container{
    /* el elemento padre les dice en que posicion tienen que ubicarse los hijos */
    position: relative;
    display: flex;
}
/* 
.ph-cooking-pot{
    font-size: 2rem; son 28px porque en mi html defini mi font-size: 14px; 
    color: white;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 0.5rem;
} */

/* ==== FORM ==== */
.form-section, .btn-group{
    width: 100%;
    margin: 0 auto; 
}

.form-section {
    font-size: 1em;
    flex-direction: column;
    display: flex;
    gap: 1em;
    max-width: 38rem;
}

.form-input{
    padding: 8px 28px 8px 8px; 
    font-size: 1em;
}

.ph-eye-slash{
    right: 0.8em;
    cursor: pointer;
}

/* ==== BUTTONS ==== */

.btn-group{
    margin-top: 2em;
}

.btn-login{
    font-size: 0.9em;
    padding: 1em;
    justify-self: center; 
    width: 100%;
    border-radius: 2em;
    max-width: 43rem;
}

/* ==== FORM ACTIONS ==== */
.register-section{
    display: flex;
    justify-content: center;
    border: none;
    color: var(--font-color-secondary);
    margin: 1em 1em 3em 1em;
}

.register-link{
    color: var(--button-hover-color);
    padding-left: 0.5em;
    align-self: center;
    text-decoration: underline;
}

@media (min-width: 431px) and (max-width: 768px) {
    .login-section{
        min-width: 80%;
    }
    /* .btn-login{
        max-width: 90%;
    }
    .form-section{
        max-width: 75%;
    } */
}

@media screen and (max-width: 431px) {
    .login-section{
        min-width: 90%;
        background-color: white;
        box-shadow: none;
        padding: 1em;
    }

    .form-section {
        max-width: 90%;
    }
}
