@import url(/css/general.css);
@import url(/css/pages-css/1-login.css);

.invalid-text, .ph-warning-circle{
  color: var(--error-text-color);
}

input.invalid-input{
  border-color: var(--error-text-color);
    &:focus {
        outline: none;
        border: 2px solid var(--button-hover-color);
    }
}

.invalid-container{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}