@import url(3-orders.css);

.main-container-menu{
    display: flex;
    align-items: center;
    background-color: var(--background-color-alternate);
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-menu{
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*contenedor principal */
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* titulo del contenedor personal */
.title {
  display: flex;
  justify-content: space-between; 
  align-items: center;  
  flex-direction: row;         
}

.title h1{
    font-size: 1.5rem;             
    max-width: 100%;
    padding: 1em 1em 1em 0em;
}

.title button{
    font-size: 1.5rem;             
}



/*boton gris dentro del titulo */
.alternative-button{
    cursor: pointer;
    background-color: var(--background-color-secondary);
    border-radius: 20px;
    border-style: none;
    color:black;
}

/*contenedor blanco con la informacion de los platos */
.meal-container{
    display: flex;
    background-color: var(--background-color-primary);
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

/*diseño especial para cada registro de plato */
.meal{
    padding: 1em;
    font-size: 1em;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 2em;
    align-items: center;
}

.text-meal{
    font-size: 1er;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 2em;
}

.price-meal{
    justify-self: end;
}

.image-meal{
  width: 50px;
  height: auto;
  border-radius: 10px; 
}



/* vista en tablet */
@media (min-width:401px) and (max-width: 768px) {
  .title{
    display: flex;
    align-items: center;           
    text-align: center;           
    font-size: 1vh;
    max-width: 100%;

    }
    
    .title h1 {
      font-size: 1.5rem;             
      max-width: 100%;

    }

    .title button {
      justify-content: end;
    }
}

/* vista en celular */
@media (max-width: 400px) {
  .title{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1vh;
    max-width: 100%;
    }
    
    .title h1 {
      font-size: 1.5rem;           
    }

    .main-container{
        max-width: 100%;
    }

    .meal{
        box-sizing: border-box;
        flex-shrink: 1;
    }
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
}

