/* Main container & initial definitions*/
.flex-column {
    align-items: center;
}
/* ------------------- */

.main-content { /* se le puede cambiar el nombre */
    row-gap: 0; /* gap entre secciones */
    padding: 0; /* padding-bottom para que no joda el header en mobile */
}

.header-title {
    padding: 0;
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Dimensions */
    margin: 2em 0 1.8em 0;
}

/* ------------------- */
.content-section {
    padding: 0;
}
/* ------------- Ingredients table ---------- */
.multiple-action-buttons {
    display: flex;
    justify-content: center;
}

.grid-table-row {
    grid-template-columns: 2fr 3fr 1fr 1fr;
}

/* ----------- Icons ------------- */
.ingredients-table-icons {
    font-size: 1.5em;
    color: var(--icon-color);
}
@media (width > 768px) {
    .hidden-icons {
        display: none;
    }
}

@media (431px < width <= 768px) {
    .hidden-icons {
        display: none;
    }
}

@media (width <= 430px) {
    .hidden-icons {
        display: flex;
    }

    .new-ingredient-btn {
        font-size: var(--font-text);
    }

    .grid-table-row {
        grid-template-columns: 2fr 2fr 1fr 1.5fr;
    }
}

