/* ----------- MAIN SECTION ---------------- */
.header-title {
    margin: 1em 0;
}

.ingredient-edit-section {
    display: flex;
    flex-direction: column;
    font-size: var(--font-h3);
    justify-self: center;
    margin-bottom: 1.34em;
    row-gap: 1em;
}
/* 
.ingredient-edit-section select {
    padding: 0.5em 5em 0.5em 1.2em;
    margin-bottom: 1em;
    border: 1px solid var(--font-color-secondary);
    border-radius: 0.5em;
} */

.ingredient-edit-section h3 {
    color: var(--font-color-secondary);
    font-weight: 400;
    margin-bottom: 0.3em;
}

.ingredient-edit-section .animal-origin-display {
    margin-top: 1em;
}

.input-ingredient-edit{
    padding-left: 1.8em;
}

.animal-origin-display {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1em;
}

.animal-origin-display h3 {
    margin:0;
}

section .btn-group-actions {
    justify-content: flex-end;
    padding: 1em 3em 0 3em;
}

section.btn-group-actions.hidden {
    display: none;
}

/*------------------------------------------- */

/* --------------- ACTION BUTTONS --------------- */

/* .btn-group-actions .btn-primary {
    width: fit-content;
    display: flex;
    justify-content: center;
    color:  #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border: 1px solid;
    padding: 1em;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    
    &:hover{
        /* color: #fff; */
        /* background-color: var(--button-hover-color) ;
        transition: background-color 0.3s ease;
        transition: color 0.3s ease;
    }
} */

/* clase para el boton secundario */
/* .btn-group-actions .btn-secondary{    
    width: fit-content;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    background-color: #fff;
    border-color: var(--primary-color);
    border: 1px solid;
    padding: 1em;
    border-radius: 0.5rem;
    cursor: pointer;
    align-items: center;
    
    &:hover{
        color: #fff;
        background-color: var(--primary-color);
        transition: background-color 0.3s ease;
        transition: color 0.3s ease;
    }
} */
/* ----------------------------------------------- */

/* QUERIES */

@media (min-width: 769px) {
    .no-hid {
        display: flex;
    }
}

@media (min-width: 431px) and (max-width: 768px) {
    .section-title {
        margin-top: 5em;
    }
}

@media (max-width: 431px) {
    section.btn-group-actions.no-hid {
        display: none;
    }

    section.btn-group-actions.hidden {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    
    .main-body {
        width: 80%;
    }
    .section-title {
        margin: 5em 0 2em 0;
    }

    .ingredient-edit-section {
        margin-bottom: 5em;
    }
}