/* @import url(../nav-bars.css);
@import url(./1-login.css);
@import url(../component-css/dish-number-input.css);
@import url(../component-css/buttons.css); */

.form-store-profile {
    font-size: 1.5em;
    transition: .3s font-size ease-in-out;
}

/* -- STORE INFO SECTION -------------------------- */

.form-section-store-info {
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.store-info {
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2em;
    background-color: #fff;

    flex: 1.7;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.img-store-container {
    flex: 1.3;
    border-radius: 10px;
    overflow: hidden;
}
.img-store-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -- DIR SECTION -------------------------- */

/* -- COMMISSIONS SECTION -------------------------- */

/* -- PAYMENT METHOD SECTION -------------------------- */

.payments-checkbox-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    font-size: 1.2em;

}

.payment-checkbox {
    width: fit-content;
}


/* -- MEDIA QUERIES -- */

/** Tablet: 401px - 768 px. */
@media screen and (min-width: 431px) and (max-width: 768px) {
    .form-store-profile {
        font-size: 1.25em;
    }
    
}

/** Mobile: max: 430px */
@media screen and (max-width: 431px) {
    .form-store-profile {
        font-size: 1.2em;
    }

    .form-section-store-info {
        flex-direction: column;
    }

    .store-info {
        width: 100%;
    }

    .img-store-container {
        width: 100%;
    }

    .input-group-dir {
        grid-template-columns: repeat(1,1fr);
    }

    .payments-checkbox-group {
        flex-direction: column;
    }
}