/* Switch Button */
.switch-button-container {
    margin: 0;
    height: 2em;
    width: 3.5em; 
    min-width: 3.5em;
    /* min-width: 45px; */
    /* width: 45px; */
    /* height: 25px; */
    padding: 0;
    border: 0;
    border-radius: 50px;
    background-color: #e9e9e9;
    cursor: pointer;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;
    transition: .3s background-color ease-in-out;
}
.switch-button-container:hover {
    background-color: hsl(357, 81%, 40%);
    transition: .4s background-color ease-in-out;
}

.switch-button {
    background-color: #fff;
    height: 100%;
    width: 2em;
    /* width: 25px; */
    box-shadow: var(--border-color) 0px 0px 5px -2px;
    border-radius: 100%;
    
    transform: translateX(0%);
    transition: .3s transform ease-in-out;
}
.switch-button-container:hover .switch-button {
    transform: translateX(80%);
    transition: .3s transform ease-in-out;
}

/* -- MEDIA QUERIES -- */

/** Tablet: 401px - 768 px. */
@media screen and (min-width: 401px) and (max-width: 768px) {

    .switch-button-container {
        /* como los puse fijos en px en web, ahora use calc... help */
        /* min-width: calc(4em * .8); */
        /* width: calc(4em * .8); */
        /* height: calc(2em * .8); */
    }
    .switch-button {
        /* width: calc(2em * .8); */
    }
}

/** Mobile: max: 400px */
@media screen and (max-width: 430px) {

    .switch-button-container {
        /* como los puse fijos en px en web, ahora use calc... help */
        /* min-width: calc(4em * .8); */
        /* width: calc(4em * .8); */
        /* height: calc(2em * .8); */
    }
    .switch-button {
        /* width: calc(2em * .8); */
    }

}